.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: white;
}
.custom-card {
    position: relative;
}

.slds-float_right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
